@{
    ViewData["Title"] = "Home Page";
}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale-1.0">
	<title>Document</title>
</head>
<body>
	<div class="container">
		<article class="card">
			<div class="circle"></div>
			<div class="circle"></div>
		</article>
		<div class="card1" </div>
		<h3>Sing In </h3>
		<div class="inputBox">
			<input type="text" required="required">
			<span>Username</span>
		</div>
		<div class="inputBox">
			<input type="password" required="required">
			<span>Password</span>
		</div>
		<div class="forgetpsw">
			<a style="color:white" href="https://localhost:44350/">forgot password?</a>
		</div>
		<button>Enter</button>
		<div class="register">
			<a style="color:white" href="#">register</a>
		</div>
	</div>
</body>
</html>